{% set siteTitle = 'Ракетная фирма' %}

{% set navs = {
    main: [{
        title: 'Пункт меню',
        link: 'main.html',
        isActive: current === 'main'
    },{
        title: 'UI-KIT',
        link: 'ui.html',
        isActive: current === 'ui'
    }]
} %}

