{% set title = 'Главная' %}
{% set current = 'main' %}

{% extends "layouts/default.njk" %}

{% block content %}
<main class="main">
  <div class="container">Пример использовния иконки <a href="#" class="link">{{icon('close')}}</a>  </div>
</main> <!-- end main -->
{% endblock %}