
<footer class="footer">
  <div class="container clearfix">
  	<p>This is footer!</p>
    <figure class="logo pull-right">
      {% include "_partials/rf-link.njk" %}
    </figure>
  </div>
</footer>
